:root {
  --main-color-light: #2096ED;
  --main-color-deep: #1481D0;
  --minor-color-light: rgb(219, 219, 219);
  --minor-color-deep: rgb(197, 197, 197);
  --deep-color-light: rgb(70, 70, 70);
  --deep-color-deep: rgb(51, 51, 51);
  --select-color-deep: mediumspringgreen;
}

*::selection {
  background: #555;
  color: #f8f8f8;
}

*::-moz-selection {
  background: #555;
  color: #f8f8f8;
}

*::-webkit-selection {
  background: #555;
  color: #f8f8f8;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: .25rem !important;
}

*::-webkit-scrollbar-thumb {
  background: #76808e;
  border-radius: .25rem !important;
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: #d8dde4;
}

* {
  margin: 0;
  padding: 0;
  transition: all .4s;
}

body {
  /* 
          开启硬件加速 解决动画卡顿 
          但是会影响部分部件的缩放
      */
  /* transform: translate(0, 0); */
  backface-visibility: hidden;
  /* transform-style: preserve-3d; */
  /* perspective: 1000; */
  display: inline;
  overflow: hidden;
}

.clearfix::after {
  /*添加空白内容*/
  content: "";
  /*转换为块元素*/
  display: block;
  /*清除浮动*/
  clear: both;
}

/* 禁止选中并且兼容 */
*.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}