/* generic */
body,
html {
  position: fixed;
  width: 100%;
  height: 100%;
}

form .fa {
  position: absolute;
  right: 13px;
  opacity: 0;
  transform: translateY(42px);
}

form .fa-check {
  color: #4ab14a;
}

form .fa-times {
  color: #e73232;
}

.form-group {
  margin-bottom: .5rem !important;
}

/* panel */
.panel {
  position: fixed;
  width: 100%;
  height: 100%;
}

.hidepanel {
  opacity: 0 !important;
  z-index: -100 !important;
}

/* login panel */
#loginpanel {
  background-color: #17a2b8;
}

#loginbox {
  transition: 1s all;
  width: 300px;
  height: 63px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#loginbox label {
  color: #fff;
}

#loginbtn,
#signinbtn,
#signinsubmit,
#signinreturn {
  width: 300px;
}

.loginformshow {
  height: 340px !important;
}

#loginform {
  opacity: 0;
}

/* signin panel */
#signinpanel {
  background-color: #ccc;
}

#signinbox {
  width: 300px;
  height: 460px;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* mainpanel */
#mainpanel {
  background-color: #eee;
}


/* head bar */
#headbar {
  position: fixed;
  width: 100%;
  height: 8%;
  background-color: #ccc;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: Center;
}

#headtitle {
  font-size: 1.2rem;
  letter-spacing: 4px;
}

#headleftbtn {
  left: -50px;
}

.headbtn {
  position: fixed;
  height: 8%;
  width: 50px;
  /* background-color: #fff; */

  display: flex;
  justify-content: center;
  align-items: Center;
}

.headbtn>i {
  cursor: pointer;
}

#headrightbtn {
  right: -50px;
}

.showleftbtn {
  left: 0 !important;
}

.showrightbtn {
  right: 0 !important;
}


/* container */
#container {
  position: fixed;
  top: 8%;
  width: 100%;
  height: 82%;
  background-color: #eee;
}

.subpanel {
  position: absolute;
  width: 100%;
  height: 100%;
}

#chatsubpanel {
  overflow: auto;
}

#chatsubpanel::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* chatsubpanel */
.chatlistitem {
  width: 100%;
  height: 60px;
  border-bottom: #92929242 solid 1px;
  cursor: pointer;

  overflow: hidden;
}

.chatlistfunbtn {
  width: 10%;
  height: 60px;
  float: right;
  background-color: #b3b1b142;

  display: flex;
  justify-content: center;
  align-items: Center;
}

.chatlistfunbtn:hover {
  background-color: #6968687a;
}

.chatlistitemcontent:hover {
  background-color: rgb(226, 226, 226);
}

.chatlistitemcontent {
  float: left;
  width: 90%;
  height: 60px;
  padding: 0 1rem;
  position: relative;

  left: 0;
  transition: .3s all;
}

.chatlistitemcontextmove {
  left: -100px;
}

.chatlistitemhead span,
.chatlistitembody span {
  line-height: 30px;
}

.chatlistitembody span {
  font-weight: 100;
}

.chatlistitemhead span {
  font-weight: bold;
}

.chatlistitem[chatwith="u"] {
  border-left: 5px solid #17a3b8;
}

.chatlistitem[chatwith="g"] {
  border-left: 5px solid #17b817;
}

/* mesubpanel */
#persioninfobox {
  position: absolute;
  width: 90%;
  height: 87%;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  background-color: #fff;
  left: 0;
  right: 0;
  top: 2%;
}

#persioninfobox form {
  overflow: auto;
  padding: 1rem;
}

#mefuncbox {
  position: absolute;
  width: 90%;
  height: 6%;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  left: 0;
  right: 0;
  top: 92%;
  border-radius: .25rem;
}

.mefunbtn {
  width: 50%;
  height: 100%;
  line-height: 0.5 !important;
}

.infoupdbtn {
  top: 1rem;
  right: 1rem;
  position: absolute !important;
  height: 24px !important;
  line-height: 11px !important;
  font-size: 12px !important;
}

.infoupdbtn .btn {
  height: 24px !important;
  line-height: 11px !important;
  font-size: 12px !important;
}

#infoupdsubpanel .fa {
  right: 27px !important;
}

/* bottom bar */
#bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #ccc;
  border-top: 1px solid #3d3d3d42;
  user-select: none;

  overflow: hidden;
}

.bottombarbtn {
  width: 33.33333333333333333%;
  height: 100%;
  float: left;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: Center;
}

.bottombarbtnlogo {
  padding-top: 5px;
  display: inline-block;
  cursor: pointer;
  transition: none !important;
}

.functionbtn i {
  transition: .5s all !important;
}

.functionbtn:hover {
  color: #007ac7;
}

.bottombarbtnlogo.active {
  color: #007ac7;
}

.bottombarbtnlogo>i {
  width: 100%;
  font-size: 1.5em;
}

/* chat log box */
#chatlogbox {
  position: fixed;
  right: -100%;
  top: 8%;
  width: 100%;
  height: 84%;
  background-color: #eee;

  opacity: 0;
}

#chatbox {
  position: fixed;
  bottom: -9%;
  width: 100%;
  height: 8%;
  background-color: #ccc;
  border-top: 1px solid #3d3d3d42;
  user-select: none;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: Center;
}

#chattext {
  float: left;
  width: 75%;
  margin-right: 5px;
}

#chatsend {
  float: left;
  width: 20%;
}

.lit {
  font-size: 10px;
  padding: .1rem .2rem .3rem;
}

.lim {
  padding: .3rem .5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 -1px 0.5px 0 rgba(0, 0, 0, 0.09);
  border-radius: .5em;
  display: inline-block;
}

.lime {
  float: right;
  text-align: right;
}

.lime>.lim{
  color: white;
  background-color: rgb(39, 110, 202);
}

.linotme {
  
}

.li {
  margin: .4em .5em;
  display: table;
}

/* extra float panel */
#addfuncpanel {
  width: 140px;
  height: 160px;
  position: fixed;
  top: 8%;
  right: 0;
  margin: .2rem .5rem;
  background-color: #6c757d;
  border-radius: .5rem;
}

.afpbtn {
  padding: .55rem 1rem !important;
}

.afpbtn>i {
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 4px;
}